/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: poppins, sans-serif, 'Times New Roman', Times, serif;
    text-decoration: none;
}

*::selection {
    background: #1e1e1e;
    color: #cae0f0;
    border-radius: 22px;
    text-decoration: none;
}

.carousel-item img {
    border-radius: 10px;
    height: 600px;
}

.container-edit {
    width: 90%;
    margin-bottom: 100px;
}

a,
a:hover {
    text-decoration: none !important;
}

/*--------------------------------------------------------------
  # Estados
--------------------------------------------------------------*/

.goToWebsite {
    background-color: #F0773D;
    border-radius: 22px;
    padding: 14px 10px;
    width: 32vmin;
    text-decoration: none;
    transition: 0.3s;
    font-size: 2.5vmin;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0 0 0.5em #ccc;
}

.maybe-like-it {
    background-color: #e1e1e1;
    padding: 50px auto;
}

.look-at-this {
    background-color: #f9f9f7;
    padding: 50px auto;
}

.card {
    width: 300px;
    height: 360px;
    margin: 60px auto 30px;
    color: #1e1e1e;
    text-decoration: none;
    transition: .5s ease;
}

.card img {
    width: 300px;
    height: 200px;
}

.card:hover {
    color: #1e1e1e;
    transform: scale(1.06);
    box-shadow: 0 0 0.5em #ccc;
}

.card h5 {
    margin-top: 20px;
    font-size: 4vmin;
}

.card h5 p {
    font-size: 3vmin;
}

.card .tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.card .tags p {
    color: #838484;
}

.card .tags span {
    color: #1e1e1e;
    font-weight: 700;
}

.item {
    width: 300px;
    height: 360px;
    background-color: #1596DE;
    margin: 30px auto;
}

.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    position: relative;
    background: none !important;
    color: #1e1e1e;
}

.owl-prev::before,
.owl-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 50% !important;
    line-height: 50px;
    transition: .4s;
}

.owl-prev:hover::before,
.owl-next:hover::before {
    background: #9c9e9e;
}

.owl-prev::after,
.owl-next::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(135deg);
    border: solid #1e1e1e;
    border-width: 0 3px 3px 0;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -4px;
}

.owl-next::after {
    transform: rotate(-45deg);
    margin-left: -14px;
}

/*--------------------------------------------------------------
  # Avaliações
--------------------------------------------------------------*/

.portfolio-info .avaliacao {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.portfolio-info .avaliacao .media {
    font-size: 15px;
    margin-left: 3px;
    padding-bottom: 3px;
}

.stars {
    align-items: flex-start !important;
    margin: 0px -30px 0px 0px;
    width: 60%;
}

.rating {
    display: flex;
    margin: 0;
    padding: 0;
}

.rating li {
    list-style: none;
}

.rating i {
    padding: 0.25rem;
}