@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,500&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,500&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: poppins, sans-serif, 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../img/background.png") no-repeat;
    background-size:cover;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    height: 350px;
    background-color: #1596DE;
    position: relative;
}
.login-image {
    position: absolute;
    top: -50px;
}
.check {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-check-label {
    color: #fff;
}

.forgot-password a {
 color: #fff;
 text-decoration: none;
}

.login-area {
    position: relative;
    display: flex;
    flex-direction: column;
}


.login-button  {
    position: absolute;
    width: 250px;
    background-color: #f0773d;
    border-radius: 5px;
    color: #fff;
    right: -125px;
    bottom: -20px;
}

.signup {
    display: flex;
    margin-top: 25px;
}

.signup p, a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}



.rodape-info{
    background-color: #1596DE;
}
.rodape-info p{
    color: #e1e1e1;
    transition: .4s;
}
.rodape-info p:hover{
    cursor: pointer;
    color: white;
}
.icons{
    margin-left: 10px;
}
.icons i{
    font-size: 3vmin;
    color: white;
    margin-right: 20px;
    transition: .4s ease;
}
.icons i:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.08em #ccc);
}
.line{
    width: 96%;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 0;
}
footer{
    background-color: #1596DE;
    height: 70px;
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
