/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/sao-paulo/assets/img/hero.webp") top center;
  width: 100%;
  padding: 160px 0px 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero h2 {
  margin: 20px !important;}