.primeiro-carrossel,
.sul-e-sudeste,
.centro-oeste-e-norte {
    padding: 30px 0px;
}

/*--------------------------------------------------------------
  # Estados
--------------------------------------------------------------*/

.estados {
    margin-bottom: -60px;
}

.btn-ver-pacotes {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 0px;
    border-radius: 50px;
    transition: 0.5s;
    color: #F7F7F7;
    background: #F0773D;
    width: 100%;
    margin-top: 10px;
}

.btn-ver-pacotes:hover {
    background: #F7F7F7;
    color: #F0773D;
}

.local-name {
    font-size: 32px;
}

.maybe-like-it {
    background-color: #e1e1e1;
    padding: 50px auto;
}

.look-at-this {
    background-color: #f9f9f7;
    padding: 50px auto;
}

.card {
    width: 300px;
    height: auto;
    margin: 60px auto 30px;
    color: #1e1e1e;
    text-decoration: none;
    transition: .5s ease;
    border-radius: 10px !important;
}

.card img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px !important;
}

.card:hover {
    color: #1e1e1e;
    transform: scale(1.06);
    box-shadow: 0 0 0.5em #ccc;
}

.card h5 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.card h5 p {
    font-size: 3vmin;
}

.card .tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
}

.card .tags p {
    color: #838484;
}

.card .tags span {
    color: #1e1e1e;
    font-weight: 700;
}

.item {
    width: 300px;
    height: 360px;
    background-color: #1596DE;
    margin: 30px auto;
}

.carousel-item img {
    border-radius: 20px;
}

.col {
    margin-bottom: 60px;
}

.d-flex {
    margin-bottom: -20px;
}

/*--------------------------------------------------------------
  # Owl
--------------------------------------------------------------*/

.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    position: relative;
    background: none !important;
    color: #F0773D;
}

.owl-prev::before,
.owl-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0773D;
    border-radius: 50% !important;
    line-height: 50px;
    transition: 0.5ms;
}

.owl-prev:hover::before,
.owl-next:hover::before {
    background: #1596DE;
}

.owl-prev::after,
.owl-next::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(135deg);
    border: solid #F7F7F7;
    border-width: 0 3px 3px 0;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -4px;
}

.owl-next::after {
    transform: rotate(-45deg);
    margin-left: -14px;
}

.owl-dot span {
    background: #ffd4c0 !important;
}

.owl-dot.active span {
    background: #F0773D !important;
}

.owl-dot span:hover {
    background: #F0773D !important;
}

.owl-carousel .owl-stage-outer {
    position: relative !important;
    overflow: hidden !important;
}

.col-lg-12 {
    margin: -90px 0px 0px 0px !important;
}

.col h2 {
    font-size: 36px;
}

/*--------------------------------------------------------------
  # Avaliações
--------------------------------------------------------------*/

.portfolio-info .avaliacao {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.portfolio-info .avaliacao .media {
    font-size: 15px;
    margin-left: 3px;
    padding-bottom: 3px;
}

.stars {
    align-items: flex-start !important;
    margin: 0px -30px 0px 0px;
    width: 60%;
}

.rating {
    display: flex;
    margin: 0;
    padding: 0;
}

.rating li {
    list-style: none;
}

.rating i {
    padding: 0.25rem;
}